<a ng-href='/'>
  <button> Back to Search</button>
</a>

<div>
  <h1 class='title'> {{view.detail.Title}}</h1>
  <img class='poster' src='{{view.detail.Poster}}' alt='movie poster'/>
</div>
<div class='box'>
Starring:
{{view.detail.Actors}}
</div>
<div class='box'>
  {{view.detail.Plot}}
</div>

      <div class='box'>
      Awards
      {{view.detail.Awards}}
      </div>
      <div class='box'>
      Director
      {{view.detail.Director}}
      </div>
      <div class='box'>
      Rated
      {{view.detail.Rated}}
      </div>
      <div class='box'>
      Released
      {{view.detail.Released}}
      </div>
      <div class='box'>
      Runtime
      {{view.detail.Runtime}}
      </div>
      <div class='box'>
      IMDB Rating
      {{view.detail.imdbRating}}
      </div>
      <div class='box'>
      Rotten Tomatoes Rating
      {{view.detail.tomatoRating}}
      </div>
